<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{params.title}}</title>
</head>
<body>
    {% include 'template_02.html' %}
    {% if params.name=='zsz' %}
    <p>欢迎{{params.name}}</p>
    {% else %}
    <p>欢迎你</p>
    {% endif %}
    <a href="{{login_url}}">登入</a>
    <h1>This is {{params.name}} blog</h1>
    <p>he is {{params.age}} years old</p>
    <p>书名：《{{params.bookname}}》</p>
    {% for i in  params.lis%}
    <p>列表:{{i}}</p>
    {% endfor %}
    <p>animal_run:{{animal}}</p>

</body>
</html>